* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.tree {
    position: relative;
    width: 120px;
    height: 120px;
    background: #94ab38;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.trunk {
    position: absolute;
}