*{
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 4fr;
    gap: 20px;
    background-color: rgb(32, 32, 32);
}

.side{
    grid-column: 1/-2;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tools-header{
    text-align: center;
}

.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.tools>div{
    height: 60px;
    width: 60px;
    background-color: white;
    margin-bottom: 20px;
}

.tools>div img{
    height: 100%;
    width: 100%;
}







.main{
    background-color: rgb(19, 20, 20);
    grid-column: -2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    background-color: rgb(19, 20, 20);
    color: whitesmoke;
}

.side .flats-options{
    background-color: rgb(32, 30, 37);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.side .flats-options>div{
    height: 30px;
    width: 90px;
    margin: 10px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.side .tools-wrapper{
    height: 450px;
    padding: 10px;
}

.side .tools-wrapper .tools-header{
    height: 50px;
}



.main .complete-area{
    background: linear-gradient(to bottom, skyblue, cornflowerblue);
    height: 90%;
    width: 90%;
    position: relative;
}

.complete-area .house-container{
    height: 200px;
    width: 350px;
    position: absolute;
    bottom: 95px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 80; */
}

.complete-area .tree-container{
    height: 250px;
    width: 200px;
    /* background-color: transparent; */
}

.complete-area .tree-container#tree-1{
    position: absolute;
    bottom: 35px;
    left: 550px ;
}

.complete-area .tree-container#tree-2{
    position: absolute;
    
    bottom: 35px;
    left: 20px;
}

.grass-container{
    position: absolute;
    width: 90%;
    height: 50px;
    left: 50px;
    bottom: 70px;
    z-index: 100;
}

.cloud-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}




